<div> 
    <footer>
      <div class="text-muted text-center container">        
        <img src="/img/LUNIVERSITY.png" class=" rounded-circle mr-0" width="50" alt="" />                  
      </div>
      <p class="copyright text-muted text-center container">Gupo de investigación en electrónica, telecomunicaciones e informática - GETI 
      <br>&copy; Universidad Surcolombiana</p>
    </footer>
</div>