
<div class="text-center p-0 mt-0 bd-highlight">   
    <h1 class="font-weight-bold ">PID: Admin system</h1>   
    <h4 class="font-weight-bold ">Producción Intelectual de los Docentes</h4>  
    <p>Plataforma para la administración de la Producción Intelectual de los Docentes en la Universidad Surcolombiana </p>            
</div>

<!--
<div>         
    <img src="../img/img5.jpeg" class="img-fluid img-thumbnail rounded mx-auto d-block" width="600" height="300">        
</div>
-->

<div class="col-md-7 mx-auto">
  <hr> 
  <img src="../img/1-13.jpg" class="rounded mx-auto d-block img-fluid " width="450" alt="...">
  <hr>
</div>